@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================

// Default EXTRA-SMALL viewport using Bootstrap breakpoints
div.em-container#em-containerAbout {
    padding: 0 2rem 0 2rem;
}

div#em-wrapperAbout {
    color: variables.$lightgrey;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 15rem 0;


    // styles the heading and background circles
    div#em-aboutTitle {
        position: absolute;
        top: 1.5rem;
        display: flex;
        justify-content: center;
        h2 {
            z-index: 2;
            position: absolute;
            top: 3.8rem;
            font-size: 2.7rem;
            text-align: center;
        }
        img:not(:first-of-type) {
            z-index: 1;
            display: none; // removes all circles except the first spiral one
        }
        img:first-of-type{
            width: 14rem;
            height: auto;
        }
    }


    // styles the content imported from the Wordpress Page
    div#em-aboutCopy {
        margin: 18rem 0 5rem 0;
        h5 {
            font-family: "Lobster", sans-serif;
            font-size: 30px;
            margin: 2.5rem 0 1rem 0;
            strong {
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 20px;
                display: block;
            }
        }
        h6 {
            margin: 1.5rem 0 1rem 0; 
        }
        p {
            @include em-mixins.text-justify-and-intercharacter();
        }
    }

    
    // styles the images and turquoise background div
    div#em-aboutImages {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 70%;
    
        div#em-backgroundBox {
            z-index: 1;
            position: absolute;
            top: -2rem;
            display: flex;
            height: 100%;
            width: 100%;
            background-color: variables.$turquoise;
            background-clip: content-box; //clips the div to make padding transparent
            padding-right: 2rem;
            margin-left: 2rem;
        }
        div.em-img__wrapper {
            z-index: 2;
            flex: 1;
            height: 100%;
            width: 100%;
            padding-right: 2rem;
            img {
                height: 100%;
            }
        }
    }

} // end #contentAbout


// SMALL (sm) viewport using Bootstrap breakpoints
@media screen and (min-width: 576px) {
    div#em-wrapperAbout {
        // slightly adjusts heading size larger
        div#em-aboutTitle > h2 {
            top: 4.2rem;
            font-size: 3.7rem;
            white-space: nowrap;
        }
        // prevents responsive images from being overlarge
        div#em-aboutImages {
            max-width: 80%;
        }
    }
} // end SMALL viewport media-query






// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {
    div#em-wrapperAbout {

        div#em-aboutTitle {
            justify-content: unset;
            width: 100%;
            h2 {
                font-size: 4rem;
                top: 4.7rem;
                left: 7.3rem;
            }
            img.em-img--decorative {
                display: block;
                position: absolute;
            }
            #em-aboutTitleCircle1 {
                width: 10rem;
                top: 2rem;
                left: 3rem;
            }
            #em-aboutTitleCircle2 {
                width: 7rem;
                top: 0;
                left: 0;
            }
            #em-aboutTitleCircle3 {
                width: 4.5rem;
                top: 9.5rem;
                left: 3rem;
            }
        }

        div#em-aboutCopy {
            width: 80%;
        }
    } // end #contentAbout

} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {
    div#em-wrapperAbout {

        div#em-aboutCopy {
            width: 70%;
        }
        div#em-aboutImages {
            max-width: 60%;
        }
    }
} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {
    div#em-wrapperAbout {
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
        div#em-aboutCopy {
            width: 50%;
            margin: 15rem 0 0 8rem;
            h5 strong {
                display: unset;
            }
        }
        div#em-aboutImages {
            width: 33%;
            margin: 8rem 0 0 0;
        }
    }
} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {
    div#em-wrapperAbout {
        div#em-aboutCopy {
            margin: 15rem 0 1rem 8rem;
        }
        div#em-aboutImages {
            width: 35%;
        }
    }
} // end EXTRA-EXTRA-LARGE viewport media-query