@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================

// Default EXTRA-SMALL viewport using Bootstrap breakpoints

div#em-containerBlog {
    margin-bottom: 10rem;
}

div#em-wrapperBlog {

    div#em-blogHeadingWrapper {
        h1#em-blogHeading {
            color: variables.$lightgrey;
            font-size: 60px;
            text-align: center;
        }
    }


    article.post.type-post.status-publish {
        display: grid;
        grid-template-rows: repeat(4 1fr);
        grid-template-columns: 1fr;
        background-color: variables.$lightgrey;
        margin: 2rem 0 2rem 0;

        a, h5 a {
            color: variables.$darkblue;
        }

        header.em-blogPost__header--excerpt {
            grid-row: 2 / 3;
            h5.em-blogPost__title--excerpt {
                margin: 0;
                font-weight: 700;
                font-size: 25px;
                padding: 2rem 1rem 0 1rem;
                a {
                    text-decoration: none;
                }
            }
        }

        img {
            grid-row: 1 / 2;
        }

        div.em-blogPost__content--excerpt {
            grid-row: 3 / 4;
            padding: 1rem;
            p:first-of-type {
                margin-bottom: 0.5rem;
            }
            a {
                font-weight: 700;
            }
        }

        footer.em-blogPost__footer--excerpt {
            grid-row: 4 / 5;
            padding: 0 1rem 1rem 1rem;
            div.em-blogPost__meta--excerpt {
                display: flex;
                justify-content: flex-end;
            }
            a {
                text-decoration: none;
            }
        }
    }
}




// SMALL (sm) viewport using Bootstrap breakpoints
@media screen and (min-width: 576px) {

} // end SMALL viewport media-query






// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {
    
} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {
    
} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {

} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {
    
} // end EXTRA-EXTRA-LARGE viewport media-query