@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================

// Default EXTRA-SMALL viewport using Bootstrap breakpoints


div#em-blogHeadingWrapper {
    h1#em-blogHeading {
        // color: variables.$lightgrey;
        font-size: 60px;
        text-align: center;
    }
}


div#em-wrapperBlog {
    display: grid;
    grid-template-columns: 1fr;

    article.post.type-post {
        display: grid;
        grid-template-columns: 1fr;
        background-color: darken(variables.$lightgrey, 10%);
        margin: 2rem 0 2rem 0;

        a, h5 a, p {
            color: variables.$darkblue;
        }

        header.em-blogPost__header--excerpt {
            grid-row: 2 / 3;
            h5.em-blogPost__title--excerpt {
                margin: 0;
                font-weight: 700;
                font-size: 25px;
                padding: 2rem 1rem 0 1rem;
                a {
                    text-decoration: none;
                }
            }
        }

        div.em-blogPost__photo--excerpt {
            grid-row: 1 / 2;
            height: 15rem;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        div.em-blogPost__content--excerpt {
            grid-row: 3 / 4;
            padding: 1rem;
            p:first-of-type {
                margin-bottom: 0.5rem;
            }
            a {
                font-weight: 700;
            }
        }

        footer.em-blogPost__footer--excerpt {
            grid-row: 4 / 5;
            padding: 0 1rem 1rem 1rem;
            div.em-blogPost__meta--excerpt {
                display: flex;
                justify-content: flex-end;
            }
            a {
                text-decoration: none;
            }
        }
    }
}

div#em-wrapperSingle {
    article div.em-blogPost__content > p {
        color: variables.$darkblue;
    }
}





// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {

    div#em-wrapperBlog {
        grid-template-columns: 1fr 1fr;

        article.post.type-post {
            margin: 2rem 1rem 2rem 1rem;
        }
    }
    
} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {

    div#em-wrapperBlog {
        grid-template-columns: 1fr 1fr 1fr;

        article.post.type-post.sticky {
            // any featured articles will show as larger
            grid-column: 1 / 4;
            // featured articles will now have 2 columns
            grid-template-columns: 1fr 1fr;

            header.em-blogPost__header--excerpt {
                grid-row: 1 / 2;
            }

            div.em-blogPost__photo--excerpt {
                grid-row: 1 / 4;
                grid-column: 2 / 3;
                height: 21rem;
            }

            div.em-blogPost__content--excerpt {
                grid-row: 2 / 3;
            }

            footer.em-blogPost__footer--excerpt {
                grid-row: 3 / 4;
            }
        }
    }
    
} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {
    div#em-wrapperBlog {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        article.post.type-post {
            margin: 2rem 2rem 2rem 2rem;
        }

        article.post.type-post.sticky {
            // any featured articles will show as larger
            grid-column: 1 / 5;
        }
    }

} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {
    
} // end EXTRA-EXTRA-LARGE viewport media-query