@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================

// Default EXTRA-SMALL viewport using Bootstrap breakpoints

div#em-containerEducation {
    padding: 3rem 0 0 0;

    div#em-educationHeadingWrapper > h1.em-heading__h1 {
        font-size: 40px;
        text-align: center;
    }

    div#em-educationFactsWrapper {
        background-image: url("../assets/decorative/education-bg-mobile.png");
        background-position: center;
        background-size: cover;
    }

    div.em-fact__circle {
        background-color: variables.$turquoise;
        width: 90vw;
        height: 90vw;
        border-radius: 50%;
        margin: 3rem auto;
        div.em-fact__content {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 1rem 2rem 0 2rem;

            h4.em-fact__title {
                font-size: 16px;
                font-weight: 600;
            }
            p.em-fact__blurb {
                font-size: 10.5px;
                letter-spacing: 0.9px;
                margin-bottom: 0.5rem;
            }
            a.em-fact__link {
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
                border-bottom: 1px solid white;
                font-size: 10px;
            }
        }
    }
    div.em-fact__circle:nth-of-type(3), div.em-fact__circle:nth-of-type(7) {
        background-color: variables.$lightgrey;
        div.em-fact__content {
            h4, p, a {
                color: #093A6B;
            }
            a.em-fact__link {
                border-bottom: 1px solid #093A6B;
            }
        }
    }
}



// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {

    
} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {

} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {

} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {

} // end EXTRA-EXTRA-LARGE viewport media-query