@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================

// Default EXTRA-SMALL viewport using Bootstrap breakpoints

div#em-containerEducation {
    padding: 3rem 0 0 0;

    div#em-educationHeadingWrapper > h1.em-heading__h1 {
        font-size: 40px;
        text-align: center;
    }

    div#em-educationFactsWrapper {
        background-image: url("../assets/decorative/education-bg-mobile.png");
        background-position: center;
        background-size: cover;
    }

    div.em-fact__circle {
        background-color: variables.$turquoise;
        width: 90vw;
        height: 90vw;
        border-radius: 50%;
        margin: 3rem auto;
        div.em-fact__content {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 1rem 2rem 0 2rem;

            h4.em-fact__title {
                font-size: 16px;
                font-weight: 600;
            }
            p.em-fact__blurb {
                font-size: 10.5px;
                letter-spacing: 0.9px;
                margin-bottom: 0.5rem;
            }
            a.em-fact__link {
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
                border-bottom: 1px solid white;
                font-size: 10px;
            }
        }
    }
    div.em-fact__circle:nth-of-type(3), div.em-fact__circle:nth-of-type(7) {
        background-color: variables.$lightgrey;
        div.em-fact__content {
            h4, p {
                color: variables.$darkblue;
            }
            a.em-fact__link {
                color: variables.$turquoise;
                border-bottom: 1px solid variables.$turquoise;
            }
        }
    }
    div.em-fact__circle:nth-of-type(5) {
        div.em-fact__content {
            h4 {
                font-family: "Lobster", sans-serif;
                font-weight: 400 !important;
                color: variables.$darkblue;
            }
        }
    }

    // MODAL STYLING
    div.modal {
        div.modal-dialog {
            div.modal-content {
                background-color: variables.$turquoise;
                div.modal-header {
                    padding: 1rem 1rem 0 1rem;
                    border-bottom: 0;
                    button {
                        border: 2px solid variables.$lightgrey;
                        border-radius: 50%;
                        color: variables.$turquoise;
                        opacity: 1;
                    }
                }
                div.modal-body {
                    div.em-modal__heading {
                        margin: 0 0 2rem 0;
                        h4 {
                            text-align: center;
                            font-weight: 700;
                        }
                    }
                    div.em-modal__postContent {
                        
                        margin: 0 1rem;
                        img {
                            margin: 1.5rem 0 0 0;
                        }
                    }
                    p.em-modal__citation {
                        margin: 2rem 0 0 0;
                        font-size: 10px;
                        text-align: left;
                        opacity: 80%;
                    }
                }
                div.modal-footer {
                    padding: 0 1rem 1rem 1rem;
                    border-top: 0;
                    justify-content: center;
                    button {
                        background-color: variables.$lightgrey;
                        border: none;
                        color: variables.$turquoise;
                        font-weight: 700;
                    }
                }
            }

        }
        
    }

}


@media screen and (min-width: 320px) {
    div.em-fact__circle {
        div.em-fact__content {
            div > h4.em-fact__title {
                font-size: 18px !important;
            }
            div > p.em-fact__blurb {
                font-size: 12px !important;
            }
            div > a.em-fact__link {
                font-size: 12px !important;
            }
        }
    }
    
}
@media screen and (min-width: 425px) {
    div.em-fact__circle {
        div.em-fact__content {
            padding-left: 3rem;
            padding-right: 3rem;
            div > h4.em-fact__title {
                font-size: 25px !important;
                font-weight: 700 !important;
            }
            div > p.em-fact__blurb {
                font-size: 14px !important;
            }
            div > a.em-fact__link {
                font-size: 14px !important;
            }
        }
    }
    div.em-fact__circle:nth-of-type(3), div.em-fact__circle:nth-of-type(7) {
        height: 80vw !important;
        width: 80vw !important;
        div.em-fact__content {
            h4, p, a {
                color: #093A6B;
            }
            a.em-fact__link {
                border-bottom: 1px solid #093A6B;
            }
        }
    }
    div.em-fact__circle:nth-of-type(5) {
        div.em-fact__content {
            h4.em-fact__title {
                font-size: 35px !important;
            }
        }
    }
    div.em-fact__circle:nth-of-type(1), div.em-fact__circle:nth-of-type(9) {
        div.em-fact__content {
            div.em-fact__blurb--wrapper {
                padding: 0 2rem 0 2rem;
                p {
                    font-size: 16px !important;
                }
            }
        }
    }

}

// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {

    
} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {

} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {

} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {

} // end EXTRA-EXTRA-LARGE viewport media-query