@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================

// Default EXTRA-SMALL viewport using Bootstrap breakpoints

div.em-fact__circle {
    background-color: variables.$turquoise;
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    margin: 2rem 0.2rem 2rem 0.2rem;
    div.em-fact__content {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 1rem 0 1rem;
    }
    h4.em-fact__title {
        font-size: 16px;
        font-weight: 600;
    }
    p.em-fact__blurb {
        font-size: 12px;
        letter-spacing: 0.9px;
    }

    a.em-fact__link {
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 1px solid white;
        font-size: 12px;
    }
}



// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {

    
} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {

} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {

} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {

} // end EXTRA-EXTRA-LARGE viewport media-query