@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================


// whole landing section
div#em-pageLanding {
    background-color: variables.$darkblue;
    height: 100vh;
    width: 100%;
}

// space out the content on mobile view
div#em-contentLanding {
    margin: 5rem 0 0 0;
    padding: 0 1.5rem 0 1.5rem;
    
    // style all text in the landing page content as light grey unless otherwise changed
    * {
        color: variables.$lightgrey;
        // center all the text on the landing page
        h1, h2, h3, h4, h5, h6, p {
            text-align: center;
        }
    }
}

// remove the taglines and photo on the mobile view
div#em-wrapperLandingCopy, div#em-wrapperLandingPhoto {
    display: none;
}

// subscribe text above Email CTA form
div#em-wrapperLandingCTA {
    h3 {
        font-size: 2rem;
    }
    div#em-wrapperNewsletterWidget {
        input {
            border: none;
            padding: 1rem;
        }
        button {
            @include em-mixins.bold-button (variables.$turquoise, variables.$lightgrey, 100%);
            border-radius: 0;
            padding: 1rem;
        }
    }
}

// breakpoint starting at bootstrap sm (small)
@media (min-width: 576px) {
    div#em-wrapperNewsletterWidget {
        width: 60%;
        margin: auto;
    }
}



// =========== DESKTOP LAYOUT ===============
// ==========================================

// breakpoint starting at bootstrap md (medium)
@media (min-width: 768px) {

    div#em-pageLanding {
        div#em-contentLanding {
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            padding: 0 3rem 0 3rem;
    
            h1, h2 {
                font-size: min(max(4rem, 6vw), 4rem);
                margin: 0 0 2rem 0;
                white-space: nowrap;
            }
            h3 {
                font-size: min(max(2rem, 3vw), 30px);
            }
            h4, h5, h6 {
                font-size: min(max(2rem, 2vw), 25px);
                width: 80%;
                margin: 0 auto 1.8rem auto;
            }

            div#em-wrapperLandingCopy {
                // display property enables photos in md viewport
                display: block;
            }

            div#em-wrapperLandingCTA {
                margin: 1rem 0 0 0;
            }
        }
    }
    
}

// breakpoint starting at bootstrap lg (large)
@media (min-width: 992px) {

    div#em-wrapperLandingPhoto {
        // display property enables photos in lg viewport
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
        div#em-containerLandingPhoto {
            border-radius: 50%;
            overflow: hidden;
        }
        img {
            max-width: 100%;
            width: 40vw;
            height: auto;
        }
    }

}

// breakpoint starting at bootstrap xxl (extra-extra large)
@media (min-width: 1400px) {

    div#em-wrapperLandingPhoto {
        img {
            max-width: 37rem;
        }
    }

}