@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================

// Default EXTRA-SMALL viewport using Bootstrap breakpoints
div#em-containerPartners {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$darkblue;
    padding: 0 2rem 0 2rem;

    div#em-partnersHeadingWrapper {
        h1#em-partnersHeading {
            color: variables.$lightgrey;
            font-size: 60px;
            text-align: center;
        }
    }

    div#em-partnersPostsWrapper {
        border-style: solid;
        border-color: variables.$turquoise;
        border-width: 15px;
        background-color: variables.$darkblue;
        padding: 0.5rem;
        height: 40rem;
        p {
            color: variables.$lightgrey;
            font-size: 0.8rem;
        }

        div.carousel-inner {
            overflow: unset;
            width: 70vw;
            div.carousel-item {
                height: 37rem;
                div.carousel-image {
                    height: 10rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 1rem 0 1rem;
                }
                div.carousel-caption {
                    position: static;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 20rem;
                    overflow: scroll;
                    padding: 0 1rem 0 1rem;
                    margin: 2rem 0 2rem 0;
                    text-align: justify;
                    line-height: 1.3rem;
                }
                div.carousel-button {
                    height: 3rem;
                    padding: 0 1rem 0 1rem;
                    button {
                        @include em-mixins.bold-button(variables.$turquoise, variables.$lightgrey);
                        padding: 0.5rem;
                    }
                }
            }
        }
        div.carousel-indicators {
            bottom: -75px;
            button {
                border-radius: 50%;
                background-clip: border-box;
                width: 10px;
                height: 10px;
                border: none;
            }
        }

        button.carousel-control-prev {
            left: -2.5rem;
            width: 10%;
        }
        button.carousel-control-next {
            right: -2.5rem;
            width: 10%;
        }
        @media screen and (min-width: 320px) {
            button.carousel-control-prev {
                left: -2.8rem;
            }
            button.carousel-control-next {
                right: -2.8rem;
            }
        }
        @media screen and (min-width: 375px) {
            button.carousel-control-prev {
                left: -3rem;
            }
            button.carousel-control-next {
                right: -3rem;
            }
        }
        @media screen and (min-width: 425px) {
            button.carousel-control-prev {
                left: -3.3rem;
            }
            button.carousel-control-next {
                right: -3.3rem;
            }
        }

    }
}


// SMALL (sm) viewport using Bootstrap breakpoints
@media screen and (min-width: 576px) {


} // end SMALL viewport media-query






// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {


} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {

} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {

} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {

} // end EXTRA-EXTRA-LARGE viewport media-query