@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================

// Default EXTRA-SMALL viewport using Bootstrap breakpoints
div#em-containerPartners {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$darkblue;

    div#em-partnersHeadingWrapper {
        order: 1;
        h1#em-partnersHeading {
            color: variables.$lightgrey;
            font-size: 60px;
            text-align: center;
        }
    }

    div#em-partnersPostsWrapper {
        order: 3;
        border-style: solid;
        border-color: variables.$turquoise;
        border-width: 15px;
        background-color: variables.$darkblue;
        padding: 0.5rem;
        height: 40rem;
        p {
            color: variables.$lightgrey;
            font-size: 0.8rem;
        }

        div.carousel-inner {
            overflow: unset;
            div.carousel-item {
                height: 35rem;
                position: relative;
            }
        }

        div.carousel-item-img {
            position: absolute;
            height: 9.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1rem 0 1rem;
        }

        div.carousel-item-copy {
            height: 20rem;
            overflow: auto;
            margin: 10rem 0 0 0;
            padding: 0 1rem 0 1rem;
        }

        div.carousel-item-button {
            position: absolute;
            top: 32rem;
            display: flex;
            width: 100%;
            padding: 0 1rem 0 1rem;
            button {
                @include em-mixins.bold-button(variables.$lightgrey, variables.$turquoise);
                font-size: 0.8rem;
            }
        }

        button.carousel-control-prev {
            left: -3.5rem;
        }
        button.carousel-control-next {
            right: -3.5rem;
        }
        div.carousel-indicators {
            bottom: -6.5rem;
        }

    }

    div#em-partnersListWrapper {
        order: 2;
        
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            padding: 0;
        }

        ul li h2 {
            font-size: 15px;
            text-align: center;
            margin: 0 0 1rem 0;
        }
    }
}


// SMALL (sm) viewport using Bootstrap breakpoints
@media screen and (min-width: 576px) {

} // end SMALL viewport media-query






// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {


} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {

} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {

} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {

} // end EXTRA-EXTRA-LARGE viewport media-query