@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================


div.em-container#em-containerSingle {
    padding: 0 2rem 0 2rem;
}

div#em-wrapperSingle {

    article.post.type-post {
        display: grid;
        background-color: variables.$lightgrey;
        margin: 2rem auto 2rem auto;

        a, h5 a {
            color: variables.$darkblue;
        }

        header.em-blogPost__header {
            grid-row: 2 / 3;
            h5.em-blogPost__title {
                margin: 0;
                font-weight: 700;
                font-size: 25px;
                padding: 2rem 1rem 0 1rem;
                a {
                    text-decoration: none;
                }
            }
            div.em-blogPost__meta {
                padding: 1rem 1rem 2rem 1rem;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 0.5px;
                font-weight: 600;
                opacity: 70%;
            }
        }

        div.em-blogPost__photo {
            grid-row: 1 / 2;
            height: 15rem;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }


        div.em-blogPost__content {
            grid-row: 3 / 4;
            padding: 1rem;
            p:first-of-type {
                margin-bottom: 0.5rem;
            }
            a {
                font-weight: 700;
            }
        }

        footer.em-blogPost__footer {
            grid-row: 4 / 5;
            padding: 0 1rem 1rem 1rem;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 0.5px;
            font-weight: 600;
            opacity: 70%;
        }

    }

    nav.post-navigation {
        margin: 0;
        padding: 0;
    }
}


// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {
    
} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {

    div#em-wrapperSingle {
        article.post.type-post {
            width: 70%;
        }
        nav.post-navigation {
            width: 70%;
            margin: auto;
        }
    }
    
} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {

} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {
    
} // end EXTRA-EXTRA-LARGE viewport media-query