@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// =========== MOBILE LAYOUT ================
// ==========================================

// Default EXTRA-SMALL viewport using Bootstrap breakpoints
div.page-header {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        margin: 1rem 0 5rem 0;
    }
}

div.page-content {
    h1, h2, h3, h4, h5, h6 {
        margin: 3rem 0 0.8rem 0;
    }
    p {
        opacity: 80%;
    }
}




// =========== DESKTOP LAYOUT ===============
// ==========================================

// MEDIUM (md) viewport using Bootstrap breakpoints
@media screen and (min-width: 768px) {

    
} // end MEDIUM viewport media-query


// LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 992px) {
    div.page-content {
        width: 70%;
        margin: auto;
    }
} // end LARGE viewport media-query


// EXTRA-LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1200px) {
    div.page-content {
        width: 60%;
    }
} // end EXTRA-LARGE viewport media-query


// EXTRA-EXTRA LARGE (lg) viewport using Bootstrap breakpoints
@media screen and (min-width: 1400px) {
    div.page-content {
        width: 50%;
    }
} // end EXTRA-EXTRA-LARGE viewport media-query