@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;

// *** Styles the mark-up of trilocal-child/footer.php ***


// =========== MOBILE LAYOUT ===============
// ==========================================
footer#em-footerNav {
    background-color: variables.$turquoise;
    color: variables.$lightgrey;
    position: relative;

    h6.em-heading__h6 {
        @include em-mixins.heading-footer-h6(variables.$lightgrey, 0.8rem);
        margin: 0 0 0.5rem 0;
    }
    a {
        color: variables.$lightgrey;
    }
}

div#em-footerDiagonalBox {
    @include em-mixins.diagonal-box-mobile(variables.$turquoise, 10rem);
    z-index: 1;
    position: absolute;
    top: -5rem;
}

div#em-footerWrapper {
    position: relative;
    z-index: 2;
    padding: 0;
}

section#em-footerContent {
    position: relative;
    z-index: 3;
}
div#em-footerContentMain {
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    width: 100%; // necessary to prevent horizontal overflow
    margin: 0; // necessary to prevent horizontal overflow
}

div.col.em-footer__col {
    flex: auto;
    padding: 0;
    margin: 0 0 3rem 0;
}

div#em-footerAddress {
    order: 0;
    i {
        margin: 0 1rem 0 0;
    }
    p {
        margin: 0;
    }
}

div#em-footerSocial {
    order: 1;
    ul {
        padding: 0;
        display: flex;
        &:first-of-type {
            flex-direction: row;
        }
        &:last-of-type {
            flex-direction: column;
        }
    }
    ul li {
        list-style-type: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
}

div#em-footerFunding {
    order: 4;
    p {
        font-size: 0.8rem;
    }
}

div#em-footerMenu {
    display: none; // because of floating hamburger menu, no need for menu at footer
    ul {
        list-style-type: none;
        padding: 0;
    }
    a {
        padding: 0.5rem 0 0 0;
        text-decoration: underline;
    }
}

div#em-footerNewsletter {
    order: 2;
    input {
        @include em-mixins.form-input();
    }
    button {
        @include em-mixins.bold-button (variables.$darkblue, variables.$lightgrey);
        margin-top: 0;
    }
}

div#em-footerPartners {
    order: 3;
    div#em-footerPartnersWrapper {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        img.em-img__logo--partner {
            width: 70%;
        }
    }
}

@media (min-width: 576px) {
    div#em-footerContentMain {
        width: 80%;
        margin: auto;
    }

    div#em-footerSocial {
        ul {
            &:first-of-type {
                justify-content: start;
            }
            &:last-of-type {
                align-items: start;
            }
        }
    }
}


// =========== DESKTOP LAYOUT ===============
// ==========================================

// breakpoint for md bootstrap responsiveness
@media (min-width: 768px) {

    footer#em-footerNav {

        div#em-footerDiagonalBox.em-wrapper__div--box {
            @include em-mixins.diagonal-box-desktop (variables.$turquoise, 8rem);
        }
    
        div#em-footerContentMain {
            display: grid;
            grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
            grid-template-columns: 1fr 1fr;
        }

        div.col.em-footer__col {
            margin: 0 0 2rem 0;
        }
    
        div#em-footerAddress {
            grid-column: 1 / 2;
            margin-right: 2rem;
        }
    
        div#em-footerSocial {
            grid-column: 2 / 3;
            margin-left: 2rem;
        }
    
        div#em-footerNewsletter {
            grid-column: 1 / 3;
        }
    
        div#em-footerPartners {
            grid-column: 1 / 3;
        }
    
        div#em-footerFunding {
            grid-column: 1 / 3;
        }

    }

}

@media (min-width: 992px) {

    footer#em-footerNav {
    
        div#em-footerContentMain {
            width: 100%;
            grid-template-rows: 0.5fr 0.3fr;
            grid-template-columns: repeat(5, 1fr);
            column-gap: 2rem;        
            -moz-column-gap: 2rem;


            div#em-footerAddress {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                margin-right: 0;
            }
        
            div#em-footerSocial {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
                margin-left: 0;
            }
    
            div#em-footerFunding {
                grid-row: 1 / 2;
                grid-column: 3 / 4;
                p {
                    width: 70%;
                }
            }
    
            div#em-footerMenu {
                display: block;
                grid-row: 1 / 2;
                grid-column: 5 / 6;
                padding-left: 2rem;
            }
        
            div#em-footerNewsletter {
                grid-row: 1 / 2;
                grid-column: 4 / 5;
            }
        
            div#em-footerPartners {
                grid-row: 2 / 3;
                grid-column: 2 / 5;
    
                div#em-footerPartnersWrapper {
                    grid-template-rows: 1fr;
                    grid-template-columns: repeat(9, 1fr);
                    align-items: center;
                    justify-items: center;
                    img.em-img__logo--partner {
                        width: 50%;
                    }
                }
            }
        }

    }

}

@media (min-width: 1400px) {

    div#em-footerContentMain.row {
        padding: 1rem 5rem 1rem 5rem;

        div.em-footer__col {
            padding: 0 1.5rem 0 1.5rem;
        }

        div#em-footerMenu {
            h6, div {
                padding-left: 2rem;
            }
        }
    }

}