@use "../theme/child_theme_variables.scss" as variables;
@use "../theme/em-mixins.scss" as em-mixins;


// =========== MOBILE LAYOUT ===============
// ==========================================

/* Z-INDEX LAYERS 
 * 1: diagonal box
 * 2: logo wrapper
 * 3: nav element containing button and menu-links
 * 9: collapsible mobile menu
*/

// wrapper for whole header
header#em-headerNavbar {
    background-color: variables.$turquoise;
    height: 7rem;
    margin: 0 0 13rem 0;
}

// header logo
div#em-headerLogoWrapper {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 8rem;
    display: flex;
    justify-content: center;
    img#em-headerLogo {
        height: 10rem;
    }
}

// diagonal box
div#em-headerDiagonalBox {
    @include em-mixins.diagonal-box-mobile(variables.$turquoise, 10rem);
    z-index: 1;
    position: absolute;
    top: 2rem;
}

// contains the hamburger button and links
nav#main-nav.em-nav {
    z-index: 3;
    padding: 1rem 0 1rem 0;
}

// mobile hamburger button
button#em-buttonNavHamburger {
    border: none;
    &:focus {
        box-shadow: none;
    }
}

// collapsible mobile navigation with menu-links
div#navbarNavDropdown {
    z-index: 9;
}

// menu links
ul#main-menu.em-ulist__menu {
    padding: 1rem 0 0 0;
    li {
        padding: 0 0 1rem 0;
    }
    li a {
        @include em-mixins.font-navbar-links (variables.$lightgrey, 1rem);
        &:hover {
            // text-decoration: underline;
            border-bottom: 2px solid variables.$lightgrey;
            padding: 0.5rem 0.5rem 0.1rem 0.5rem;
        }
    }
}


// =========== DESKTOP LAYOUT ===============
// ==========================================

// breakpoint for md bootstrap responsiveness
@media (min-width: 768px) {

    // wrapper for whole header
    header#em-headerNavbar {
        height: 4rem;
        margin: 0 0 7rem 0;
    }
    // wrapper div for header logo
    div#em-headerLogoWrapper {
        top: 0;
        z-index: 4;
        width: 20vw;
        justify-content: flex-start;
        img#em-headerLogo {
            height: 7.3rem;
            margin: 1rem 0 0 1rem;
        }
    }

    // diagonal box
    div#em-headerDiagonalBox {
        @include em-mixins.diagonal-box-desktop (variables.$turquoise, 6rem);
    }
    

    // contains the hamburger button and links
    nav#main-nav.em-nav {
        padding: 2rem 2rem 0 2rem;
        position: absolute;
        width: 100%;
        top: 0;
    }

    // menu links
    ul#main-menu.em-ulist__menu {
        padding: 0;
        li {
            padding: 0;
        }
    }

}


@media (min-width: 992px) {

    // increases the spacing between links on larger viewports
    ul#main-menu.em-ulist__menu li {
        padding: 0 1.5rem 0 1.5rem;
    }
}